.radio_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  input {
    padding: 0;
    border: none;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .radio_button {
    display: flex;
    width: 100%;
    gap: 8px;
  }
}

.option {
  width: 100%;
  display: flex;
  align-items: center;
  line-height: 1.2;
  border-radius: 5px;
  padding: 12px 20px;
  font-weight: 500;
  word-break: keep-all;
  cursor: pointer;
  background-color: #f9fafb;
}
.active {
  background-color: #0479f6;
  color: #fff;
}
